@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
* {margin:0;padding:0;box-sizing:border-box;}

body {
    font-family: "Cormorant Garamond", serif;
    background-size:100% 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    color: #333332;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

nav {
    font-weight: 200;
    text-transform: lowercase;
    letter-spacing: 4.5px;
    font-size: .8em;
    float: right;
}

nav a {
    color:#fff;
    display:inline-block;
    padding:1em;
    text-decoration:none;
}
.logo {
    float:left;
    color:#597C87;
    padding: 1em;
}

#left {
    background-image: url("../images/aboutme2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    height: 20em;
    width: 33.33%;
}

#info {
    width: 60%;
    float: left
}

#two_column{
    width: 1200px;
    padding: 2em 2em 2em 2em;
}

#two_column h1{
    font-size: 1em;
    text-transform: uppercase;
    padding: 2em 2em 0em 4em;
}

#two_column p {
    padding: 2em 2em 0em 4em;
    text-align: justify;
}
footer {
    margin: 0 auto;
    padding: 2em 2em 2em 2em;
}

#intro {
    background: url(../images/iceland.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8em 0 0 4em;
    height: 120vh;
    text-align: left;
    color:#597C87;
}

#intro div {
    width: 25em;
}

#leftcontact {
    padding: 4em 2em 0em 2em;
    background: url(../images/aboutme.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
    float: left;
    margin: auto;
    }

#contact {
    text-align: center;
    display: block;
    padding: 2em 2em 2em 2em;
    width: 50%;
    float: right;
}

.logolink {
    background-color: #81C1FF;
    color: #fff;
    padding:1em;
    float: left;
    width: 50%;
}

#navlink {
    background-color: #81C1FF;
    width: 50%;
    float: right;
    padding: .85em 0em 0em 1em;
}

#stockholm{
    background: url(../images/stockholm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 140vh;
    width: 40%;
    float: left;
    margin: auto;
}

#travelp{
    padding: 1em;
    width: 60%;
    text-align: justify;
    float: right;
    display: inline-block;
}

#abba {
    background: url(../images/abba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%;
    float: left;
    margin: auto;
}

#musicp{
    padding: 2em;
    text-align: justify;
    display: block;
}

@media screen and (max-device-width: 1117px) {
        body {
            font-size: 100%;
        }
        #intro{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
}

@media only screen and (max-width: 740px){
    nav {
        letter-spacing: 2.0px;
    }

    nav a {
    display:block;
    }

    #left {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    float: none;
    }

    #twocolumn {
        float: none;
        font-size: 1.5em;
    }

    #two_column h1{
    padding: 1em 9em 0em .5em;
    display: block;
    }

    #two_column p {
    padding: 1em 9em 1em .5em;
    text-align: justify;
    display: block;
    }

    body {
        font-size: 1.5em;
    }

    #intro{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            padding: 0em 0em 0em 0em;
    }

    footer {
    padding: 1em 1em 1em 2em;
}

}

