@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
* {margin:0;padding:0;box-sizing:border-box;}

body {
    font-family: "Cormorant Garamond", serif;
    background-size:100% 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    color: #333332;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

nav {
    font-weight: 200;
    text-transform: lowercase;
    letter-spacing: 4.5px;
    font-size: .8em;
    float: right;
}

nav a {
    color:#fff;
    display:inline-block;
    padding:1em;
    text-decoration:none;
}
.logo {
    float:left;
    color:#597C87;
    padding: 1em;
}

#left {
    background-image: url("../images/aboutme2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    height: 20em;
    width: 33.33%;
}

#info {
    width: 60%;
    float: left
}

#two_column{
    width: 1200px;
    padding: 2em 2em 2em 2em;
}

#two_column h1{
    font-size: 1em;
    text-transform: uppercase;
    padding: 2em 2em 0em 4em;
}

#two_column p {
    padding: 4em 4em 4em 4em;
    text-align: justify;
}
footer {
    margin: 0 auto;
    padding: 2em 2em 2em 2em;
}

#intro {
    background: url(../images/iceland.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8em 0 0 4em;
    height: 120vh;
    text-align: left;
    color:#597C87;
}

#intro div {
    width: 25em;
}

@media screen and (max-device-width: 1117px) {
        body {
            font-size: 100%;
        }
        #intro{
            background-size: cover;
            background-repeat: no-repeat;

        }
}

@media only screen and (max-width: 740px){
    nav {
        letter-spacing: 2.0px;
    }

    nav a {
    display:block;
    }

    #left {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   /* height: 1000px;*/
    float: none;
/*    width: 850px;*/
    }

    #twocolumn {
        float: none;
        font-size: 2em;
    }

    body {
        font-size: 2em;
    }

    #intro{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
    }

    footer {
    padding: 1em 0em 1em 0em;
}

}

