body {
  	text-align: center;
  	background: url("../images/tunnel.jpg");
  	background-size:100% 100%;
    background-color: #000;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}


#header1 {font-size: 200px;
font-style: normal;
font-weight: 800;
text-align: center;
color: #FFA30A;
}

#slogan { 
	font-style: italic;
	color: #FFFFFF;
	font-size: 60px;
}

p {font-size: 24px;
   font-weight: 400;
   color: #FFA30A;
 }

hr {
  width: 400px;
}

ul { padding:0;
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    color: #FFA30A;
}
