body {
    background-color: #000;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration:;
    text-transform: 
    color: #FFFFFF;
}

#slogan: {font-style: italic

}

h1 {font-size: 24px;
font-style: normal
font-weight: 800
text-align: center;
color: #FFFFFF;}

